<h1 class="text-center">Login</h1>
<form method="POST">
    <div class="form-group">
        <label for="password">Password</label>
        <input name="password" type="password" class="form-control">
    </div>
    <input type="submit" value="Login" class="btn btn-primary">
</form>